name: Deploy to InfinityFree via FTP

on:
  push:
    branches:
      - main  # Hoặc tên branch chính của bạn

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
    - name: Get latest code
      uses: actions/checkout@v3

    - name: Sync files to Hosting
      uses: SamKirkland/FTP-Deploy-Action@v4.3.4
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./  # Thư mục chứa code ở máy bạn
        server-dir: ./htdocs/  # Luôn đẩy vào htdocs
        exclude: |
          **/.git*
          **/.git*/**
          **/node_modules/**